body {
  background-color: var(--bgColor);
  color: var(--foreground);
  z-index: -999;
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: -5%;
  background-image: var(--bgImage);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: scale(1.2);
  filter: blur(0.2rem);
  opacity: 0.6;
  z-index: -998;
}

.accent {
  color: var(--accentColor) !important;
}

.foreground {
  background-color: var(--foreground) !important;
}

.round-corner {
  border-radius: 0.7rem !important;
}

.panel {
  border-radius: 0.7rem !important;
}

.panel-border {
  box-shadow: 0 0 10px var(--bgColor);
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.7rem !important;
}

.panel:hover {
  box-shadow: 0 0 10px var(--bgColor);
  background-color: rgba(0, 0, 0, 0.3) !important;
  opacity: 1;
}

.button {
  border-radius: 0.7rem !important;
}

.button:hover {
  box-shadow: 0 0 10px var(--bgColor);
  background-color: rgba(0, 0, 0, 0.3) !important;
  cursor: pointer;
  opacity: 1;
}

.button.foreground:hover {
  box-shadow: 0 0 10px var(--foreground);
  background-color: var(--foreground) !important;
  cursor: pointer;
  opacity: 1;
}

.button.foreground:active {
  box-shadow: 0 0 10px var(--bgColor);
  opacity: 0.5;
}

.button:active {
  opacity: 0.5;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .button:hover {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
}

.widget {
  opacity: 0.7;
}

#fader {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: var(--bgColor);
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}